{deps, [
       	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
	{erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "13875e1965e759be5adf9795120b0ba047c9458e"}},
	{leds, ".*", {git, "ssh://git@bitbucket.org/fhunleth/leds.git", "master"}}
]}.
{erlydtl_opts, [
    {doc_root, "templates/"},
    {source_ext, ".tpl"},
    {out_dir, "ebin"},
    {module_ext, "_tpl"}
]}.
